<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mosfet Tester</title>
    <script>window.$ = window.jQuery = require('jquery');</script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="jquery/jquery-ui.css">
    <script src="jquery/jquery-ui.js"></script>
</head>
<body>
    <div class="black-modal"></div>
    <table class="database-table" id="database-table">
        <tr>
            <th>serial</th>
            <th>step1</th>
            <th>step2</th>
            <th>step3</th>
            <th>step4</th>
            <th>step5</th>
            <th>step6</th>
            <th>time</th>
            <th>date</th>
            <th>result</th>
            <th>components</th>
        </tr>
    </table>


    <script>
        require('./js/database-view.js');
    </script>
</body>
</html>