@font-face{
    font-family: 'iransans';
    src: url('iransans.ttf');
}
@font-face{
    font-family: 'btitr';
    src: url('btitr.ttf');
}
:root {
    --light-background: #ebf3f2;
    --dark-background: #364152;
    --dark: #232A3A;
    --text: #4B4040;
    --hover: #FF8A47;
    --orange: #FF8A47;
    --yellow: #EEAB34;
    --green: #1ddd3d;
    --red: #f1683f;
    --button: #3FAEE0;
    --blue: #3FAEE0;
    --darkblue: #050547;
    --gray: #9c9c9c;
    --lightgray: #e9e9e9;
    --lightergray: #c9c9c9;
}
body::-webkit-scrollbar {width: 0.5vw;}
body::-webkit-scrollbar-track {background: var(--gray);}
body::-webkit-scrollbar-thumb {background: var(--dark);}
body::-webkit-scrollbar-thumb:hover{background: var(--blue);}
body {
    font-family: 'iransans';
    margin: 0;
    padding: 0;
    direction: ltr;
    text-align: left;
    background-color: var(--light-background);
}

.success-msg{
    position: fixed;
    top: 1vw;
    right: 30%;
    width: 40%;
    background-color: var(--green);
    font-family: 'iransans';
    font-size: 1vw;
    color: white;
    padding: 0.6vw 0;
    text-align: center;
    border-radius: 0.7vw;
    /* opacity: 0.7; */
    transition-duration: 500;
    z-index: 1000;
}
.error-msg{
    position: fixed;
    top: 1vw;
    right: 30%;
    width: 40%;
    background-color: var(--red);
    font-family: 'iransans';
    font-size: 1vw;
    color: white;
    padding: 0.6vw 0;
    text-align: center;
    border-radius: 0.7vw;
    /* opacity: 0.7; */
    transition-duration: 500;
    z-index: 1000;
}
.black-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
}
.main-container{
    overflow: hidden;
}
.main-container .content-view{
    width: 67.5%;
    margin: 2.5%;
    background-color: white;
    border-radius: 1vw;
    float: right;
}
.main-container .sidebar-view{
    float: right;
    width: 25%;
    margin: 2.5%;
    margin-left: 0;
}
.main-container .serial-settings-view{
    background-color: white;
    border-radius: 1vw;
    padding-bottom: 2vw;
}
.main-container .serial-settings-view h1{
    font-family: 'iransans';
    font-size: 0.9vw;
    color: var(--darkblue);
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 0.8vw;
    margin-bottom: 1vw;
}
.main-container .serial-settings-view .label{
    font-family: 'iransans';
    font-size: 0.8vw;
    columns: var(--text);
    width: 80%;
    margin: auto;
}
.main-container .serial-settings-view select{
    font-family: 'iransans';
    font-size: 0.7vw;
    columns: var(--text);
    width: 80%;
    margin: auto;
    display: block;
    margin-bottom: 0.2vw;
    font-family: 'iransans';
    border-radius: 0.3vw;
}
.main-container .serial-settings-view .connect-button{
    width: 80%;
    margin: auto;
    background-color: var(--green);
    color: white;
    padding: 0.3vw 0;
    border-radius: 0.5vw;
    margin-top: 0.7vw;
    text-align: center;
    font-family: 'iransans';
    font-size: 0.8vw;
    cursor: pointer;
}
.main-container .serial-settings-view .connect-button:hover{
    background-color: green;
}
.main-container .serial-settings-view .disconnect-button{
    width: 80%;
    margin: auto;
    background-color: var(--red);
    color: white;
    padding: 0.3vw 0;
    border-radius: 0.5vw;
    margin-top: 0.7vw;
    text-align: center;
    font-family: 'iransans';
    font-size: 0.8vw;
    cursor: pointer;
}
.main-container .serial-settings-view .disconnect-button:hover{
    background-color: red;
}
.main-container .serial-settings-view .starttest-button{
    width: 80%;
    margin: auto;
    background-color: var(--blue);
    color: white;
    padding: 0.3vw 0;
    border-radius: 0.5vw;
    margin-top: 0.7vw;
    text-align: center;
    font-family: 'iransans';
    font-size: 0.8vw;
    cursor: pointer;
}
.main-container .serial-settings-view .starttest-button:hover{
    background-color: blue;
}
.main-container .serial-settings-view .starttest-button.disabled{
    cursor: pointer;
    background-color: var(--gray);
    cursor: not-allowed;
}
.main-container .serial-settings-view .connect-button.disabled{
    cursor: pointer;
    background-color: var(--gray);
    cursor: not-allowed;
}
.main-container .content-view .serial-number{
    width: 90%;
    margin: auto;
    padding-top: 4vw;
    color: var(--text);
    font-family: 'iransans';
    font-size: 1.2vw;
    position: relative;
}
.main-container .content-view .serial-number .serial-num-value{
    color: var(--darkblue);
    font-weight: bold;
    display: inline;
    font-family: 'iransans';
    font-size: 1.2vw;
}
.main-container .content-view .serial-number .button{
    background-color: var(--blue);
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
    padding: 0.3vw 1vw;
    border-radius: 0.5vw;
    font-family: 'iransans';
    font-size: 1.1vw;
    cursor: pointer;
}
.main-container .content-view .serial-number .button i{
    font-size: 1vw;
    padding-left: 1vw;
}
.main-container .content-view .serial-number .button:hover{
    background-color: var(--hover);
}
.main-container .content-view table.table-info{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 2vw;
    border-radius: 0.5vw;
}
.main-container .content-view table.table-info th,
.main-container .content-view table.table-info td{
    border: var(--lightgray) 0.1vw solid;
    text-align: center;
    color: var(--text);
    padding: 0.3vw 1vw;
}
.main-container .content-view table.table-info td i.green{color: var(--green);}
.main-container .content-view table.table-info td i.red{color: var(--red);}
.main-container .content-view .date-time-view{
    width: 90%;
    margin: auto;
    margin-top: 0.4vw;
    overflow: hidden;
}
.main-container .content-view .date-time-view .date,
.main-container .content-view .date-time-view .time{
    float: left;
    width: 50%;
    font-family: 'iransans';
    font-size: 1vw;
    color: var(--text);
}
.main-container .content-view .date-time-view .date .date-value,
.main-container .content-view .date-time-view .time .time-value{
    display: inline;
    font-family: 'iransans';
    font-size: 1vw;
    color: var(--dark);
    font-weight: bold;
}
.main-container .content-view .test-result{
    width: 90%;
    margin: auto;
    margin-top: 2vw;
    color: var(--text);
    font-family: 'iransans';
    font-size: 1.1vw;
    font-weight: bold;
}
.main-container .content-view .test-result .test-result-value{
    font-family: 'iransans';
    font-size: 1.2vw;
    font-weight: bold;
    display: inline;
}
.main-container .content-view .test-result .test-result-value.green{color: var(--green);}
.main-container .content-view .test-result .test-result-value.red{color: var(--red);}
.main-container .content-view .buttons-view{
    overflow: hidden;
    margin-top: 1vw;
    margin-bottom: 2vw;
}
.main-container .content-view .buttons-view .button{
    margin-left: 5%;
    background-color: var(--blue);
    color: white;
    padding: 0.3vw 2vw;
    width: fit-content;
    border-radius: 0.5vw;
    cursor: pointer;
    margin-bottom: 1vw;
    float: left;
}
.main-container .content-view .buttons-view .button:hover{
    background-color: var(--hover);
}
.console-view{
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
    background-color: var(--dark);
    height: 16vh;
    color: white;
}
.console-view .console-text{
    height: 12vh;
    padding: 1vw;
    overflow-y: scroll;
    font-family: 'iransans';
    font-size: 1vw;
    font-weight: normal;
    white-space: pre;
}
.console-view .console-text::-webkit-scrollbar {width: 0.5vw;}
.console-view .console-text::-webkit-scrollbar-track {background: var(--gray);}
.console-view .console-text::-webkit-scrollbar-thumb {background: var(--dark);}
.console-view .console-text::-webkit-scrollbar-thumb:hover{background: var(--blue);}
.console-view .progress-bar{
    width: 100%;
    position: absolute;
    top: -0.8vw;
    height: 0.8vw;
    background-color: var(--dark-background);
    text-align: right;
}
.console-view .progress-bar .handle{
    transition-duration: 500ms;
    width: 0;
    background-color: var(--blue);
    height: 0.8vw;
}
.file-print-frame{
    padding-left: 15px;
    text-align: left;
    padding-top: 2px;
    overflow: hidden;
}
.file-print-frame .print-label-frame{
    float: left;
    width: 75px;
}
.file-print-frame .print-serial-num{
    font-family: 'iransans';
    font-size: 6px;
    line-height: 6.5px;
    text-align: left;
    font-weight: bold;
    white-space: pre;
}
.file-print-frame .print-label-num{
    font-family: 'iransans';
    font-size: 6px;
    padding-left: 2px;
    line-height: 6px;
    text-align: left;
    font-weight: bold;
    padding-bottom: 1px;
}
.file-print-frame .print-label-num2{
    font-family: 'iransans';
    font-size: 6px;
    padding-left: 2px;
    line-height: 6px;
    text-align: left;
    font-weight: bold;
    padding-bottom: 1px;
}
.components-data{
    overflow: hidden;
    width: 90%;
    margin: auto;
    margin-top: 2vw;
}
.components-data .label{
    float: left;
    width: fit-content;
    font-family: 'iransans';
    font-size: 1vw;
    color: var(--darkblue);
    padding-right: 1vw;
    display: block;
}
.components-data input.component-input{
    float: left;
    width: fit-content;
    font-family: 'iransans';
    font-size: 0.7vw;
    color: var(--darkblue);
    margin-right: 0.1vw;
    display: block;
    background-color: white;
    width: 3.8vw;
    text-align: center;
    border: var(--lightgray) 0.1vw solid;
    padding: 0.3vw 0;
}
.view-database-button{
    width: 80%;
    margin: auto;
    background-color: var(--blue);
    color: white;
    padding: 0.3vw 0;
    border-radius: 0.5vw;
    margin-top: 0.7vw;
    text-align: center;
    font-family: 'iransans';
    font-size: 0.8vw;
    cursor: pointer;
    display: block;
    text-decoration: none;
}
.view-database-button:hover{
    background-color: blue;
}
table.database-table{
    width: 100%;
}
.database-view{
    position: absolute;
    width: 90vw;
    height: 80vh;
    padding: 1vw;
    top: 4.5vw;
    right: 4.5vw;
    background-color: white;
    border-radius: 1vw;
    overflow-y: scroll;
    z-index: 11;
}
.database-view th{
    text-align: center;
    font-size: 1vw;
    color: var(--darkblue);
}
.database-view td{
    text-align: center;
    font-size: 1.3vw;
}
.excel-button{
    /* position: absolute;
    bottom: -2vw;
    left: 2vw; */
    background-color: var(--blue);
    color: white;
    width: fit-content;
    padding: 0.3vw 2vw;
    border-radius: 0.5vw;
    font-family: 'iransans';
    font-size: 0.9vw;
    cursor: pointer;
}
.excel-button:hover{
    background-color: var(--green);
}
.excel-button i{
    padding-right: 0.5vw;
}
.buttons-area{
    overflow: hidden;
    width: 95%;
    margin: auto;
    margin-bottom: 1vw;
}

.main-container .sidebar-view .label-print-setting{
    background-color: white;
    margin-top: 1.5vw;
    border-radius: 1vw;
    overflow: hidden;
}
.main-container .sidebar-view .label-print-setting .label-serialnum{
    float: left;
    background-color: var(--light-background);
    font-family: 'iransans';
    font-size: 0.7vw;
    padding: 0.4vw 0;
    margin: 1vw 0;
    margin-left: 0.5vw;
    border-radius: 0.5vw;
    width: 19%;
    text-align: center;
    position: relative;
    height: 1.1vw;
}
.main-container .sidebar-view .label-print-setting .print-labels-button{
    float: left;
    background-color: var(--blue);
    font-family: 'iransans';
    font-size: 1vw;
    padding: 0.15vw 0.7vw;
    margin: 1vw 0;
    margin-left: 0.5vw;
    border-radius: 0.5vw;
    color: white;
    cursor: pointer;
}
.main-container .sidebar-view .label-print-setting .print-labels-button:hover{
    background-color: var(--hover);
}
.main-container .label-print-setting h1{
    font-family: 'iransans';
    font-size: 0.9vw;
    color: var(--darkblue);
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 0.8vw;
    /* margin-bottom: 1vw; */
}
.main-container .label-print-setting .label-plus{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 1.2vw;
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    background-color: rgba(0, 0, 0, 0.287);
    border-radius: 0.5vw;
    color: green;
    cursor: pointer;
    display: none;
}
.main-container .label-print-setting .label-times{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 1.2vw;
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    background-color: rgba(255, 255, 255, 0.523);
    border-radius: 0.5vw;
    color: red;
    cursor: pointer;
    display: none;
}



.hidden{
    display: none;
}