<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Mosfet Tester</title>
    <script>window.$ = window.jQuery = require('jquery');</script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="jquery/jquery-ui.css">
    <script src="jquery/jquery-ui.js"></script>
  </head>
  <body>
    <div class="black-modal"></div>
    <div class="main-container" id="main-container">
      <div class="sidebar-view">
        <div class="serial-settings-view">
          <h1>Serial Props</h1>
          <div class="label">Port:</div>
          <select name="com-select" id="com-select">
            <option value="COM1">COM1</option>
            <option value="COM2">COM2</option>
            <option value="COM3">COM3</option>
            <option value="COM4">COM4</option>
          </select>
          
          <div class="label">BoudRate:</div>
          <select name="boudrate-select" id="boudrate-select">
            <option value="115200">115200 (default)</option>
            <option value="9600">9600</option>
          </select>
          
          <div class="label">Data Bits:</div>
          <select name="databits-select" id="databits-select">
            <option value="8">8 (default)</option>
            <option value="7">7</option>
          </select>
          
          <div class="label">Parity:</div>
          <select name="parity-select" id="parity-select">
            <option value="None">None (default)</option>
            <option value="Even">Even</option>
            <option value="Odd">Odd</option>
            <option value="Mark">Mark</option>
            <option value="Space">Space</option>
          </select>
          
          <div class="label">Stop Bits:</div>
          <select name="stopbits-select" id="stopbits-select">
            <option value="1">1 (default)</option>
            <option value="2">2</option>
          </select>
          
          <div class="connect-button" id="connect-button">Connect</div>
          <div class="disconnect-button hidden" id="disconnect-button">Disconnect</div>
          <div class="starttest-button disabled" id="starttest-button">Start testing</div>
          <div href="./screens/database-view.ejs" target="_blank" class="view-database-button" id="view-database-button">
            database
            <i class="fa fa-database"></i>
          </div>
        </div>
        <div class="label-print-setting">
          <h1>Label Print</h1>
          <div class="label-serialnum" id="label-view-1">
            <div id="label-serialnum-1"></div>
            <div class="label-plus" id="label-plus-1">
              <i class="fa fa-plus"></i>
            </div>
            <div class="label-times" id="label-times-1">
              <i class="fa fa-times"></i>
            </div>
          </div>
          <div class="label-serialnum" id="label-view-2">
            <div id="label-serialnum-2"></div>
            <div class="label-plus" id="label-plus-2">
              <i class="fa fa-plus"></i>
            </div>
            <div class="label-times" id="label-times-2">
              <i class="fa fa-times"></i>
            </div>
          </div>
          <div class="label-serialnum" id="label-view-3">
            <div id="label-serialnum-3"></div>
            <div class="label-plus" id="label-plus-3">
              <i class="fa fa-plus"></i>
            </div>
            <div class="label-times" id="label-times-3">
              <i class="fa fa-times"></i>
            </div>
          </div>
          <div class="label-serialnum" id="label-view-4">
            <div id="label-serialnum-4"></div>
            <div class="label-plus" id="label-plus-4">
              <i class="fa fa-plus"></i>
            </div>
            <div class="label-times" id="label-times-4">
              <i class="fa fa-times"></i>
            </div>
          </div>
          <div class="print-labels-button" id="print-labels-button">
            <i class="fa fa-print"></i>
          </div>
        </div>
      </div>
      <div class="content-view">
        <div class="serial-number">
          Serial Number: <div class="serial-num-value" id="serial-num-value">12345</div>
          <div class="button" id="new-button">
            New 
            <i class="fa fa-plus"></i>
          </div>
        </div>
        <table class="table-info">
          <tr>
            <th></th>
            <th>Step 1</th>
            <th>Step 2</th>
            <th>Step 3</th>
            <th>Step 4</th>
            <th>Step 5</th>
            <th>Step 6</th>
          </tr>
          <tr>
            <td>Max</td>
            <td id="max-value-1">-</td>
            <td id="max-value-2">-</td>
            <td id="max-value-3">-</td>
            <td id="max-value-4">-</td>
            <td id="max-value-5">-</td>
            <td id="max-value-6">-</td>
          </tr>
          <tr>
            <td>Voltage</td>
            <td id="step-value-1">-</td>
            <td id="step-value-2">-</td>
            <td id="step-value-3">-</td>
            <td id="step-value-4">-</td>
            <td id="step-value-5">-</td>
            <td id="step-value-6">-</td>
          </tr>
          <tr>
            <td>Min</td>
            <td id="min-value-1">-</td>
            <td id="min-value-2">-</td>
            <td id="min-value-3">-</td>
            <td id="min-value-4">-</td>
            <td id="min-value-5">-</td>
            <td id="min-value-6">-</td>
          </tr>
          <tr>
            <td></td>
            <td><i class="fa fa-check green" id="step-check-1"></i><i class="fa fa-times red" id="step-times-1"></i></td>
            <td><i class="fa fa-check green" id="step-check-2"></i><i class="fa fa-times red" id="step-times-2"></i></td>
            <td><i class="fa fa-check green" id="step-check-3"></i><i class="fa fa-times red" id="step-times-3"></i></td>
            <td><i class="fa fa-check green" id="step-check-4"></i><i class="fa fa-times red" id="step-times-4"></i></td>
            <td><i class="fa fa-check green" id="step-check-5"></i><i class="fa fa-times red" id="step-times-5"></i></td>
            <td><i class="fa fa-check green" id="step-check-6"></i><i class="fa fa-times red" id="step-times-6"></i></td>
          </tr>
        </table>
        <div class="date-time-view">
          <div class="date">Date: <div class="date-value" id="date-value">1401/02/01</div></div>
          <div class="time">Time: <div class="time-value" id="time-value">16:30</div></div>
        </div>
        <div class="components-data">
          <div class="label">Trace Num: </div>
          <input type="text" class="component-input" id="component-input1" placeholder="Trace1">
          <input type="text" class="component-input" id="component-input2" placeholder="Trace2">
          <input type="text" class="component-input" id="component-input3" placeholder="Trace3">
          <input type="text" class="component-input" id="component-input4" placeholder="Trace4">
          <input type="text" class="component-input" id="component-input5" placeholder="Trace5">
          <input type="text" class="component-input" id="component-input6" placeholder="Trace6">
          <input type="text" class="component-input" id="component-input7" placeholder="Trace7">
          <input type="text" class="component-input" id="component-input8" placeholder="Trace8">
          <input type="text" class="component-input" id="component-input9" placeholder="Trace9">
          <input type="text" class="component-input" id="component-input10" placeholder="Trace10">
          <input type="text" class="component-input" id="component-input11" placeholder="Trace11">
          <input type="text" class="component-input" id="component-input12" placeholder="Trace12">
          <input type="text" class="component-input" id="component-input13" placeholder="Trace13">
        </div>
        <div class="test-result">
          Test Result: <div class="test-result-value green" id="test-result-q">Qualified</div><div class="test-result-value red hidden" id="test-result-dq">Disqualified</div>
        </div>
        <div class="buttons-view">
          <div class="button" id="save-button">
            <i class="fa fa-save"></i>
            Save Report
          </div>
          <!-- <div class="button" id="print-button">
            <i class="fa fa-print"></i>
            Print Label
          </div> -->
        </div>
      </div>
      <div class="console-view">
        <div class="progress-bar">
          <div class="handle" id="progress-handle"></div>
        </div>
        <div class="console-text" id="console-text"></div>
      </div>
    </div>
    <div class="file-print-frame hidden" id="file-print-frame">
      <div class="print-label-frame" id="print-label-frame-1">
        <div class="print-label-num" id="print-label-num">ITD-SANDEN</div>
        <div class="print-label-num" id="print-label-num">FANDRIVER-P6L</div>
        <div class="print-label-num2" id="print-label-num2">R1589-10030</div>
        <div class="print-serial-num" id="print-serial-num-1">1000000001</div>
      </div>
      <div class="print-label-frame" id="print-label-frame-2">
        <div class="print-label-num" id="print-label-num">ITD-SANDEN</div>
        <div class="print-label-num" id="print-label-num">FANDRIVER-P6L</div>
        <div class="print-label-num2" id="print-label-num2">R1589-10030</div>
        <div class="print-serial-num" id="print-serial-num-2">1000000001</div>
      </div>
      <div class="print-label-frame" id="print-label-frame-3">
        <div class="print-label-num" id="print-label-num">ITD-SANDEN</div>
        <div class="print-label-num" id="print-label-num">FANDRIVER-P6L</div>
        <div class="print-label-num2" id="print-label-num2">R1589-10030</div>
        <div class="print-serial-num" id="print-serial-num-3">1000000001</div>
      </div>
      <div class="print-label-frame" id="print-label-frame-4">
        <div class="print-label-num" id="print-label-num">ITD-SANDEN</div>
        <div class="print-label-num" id="print-label-num">FANDRIVER-P6L</div>
        <div class="print-label-num2" id="print-label-num2">R1589-10030</div>
        <div class="print-serial-num" id="print-serial-num-4">1000000001</div>
      </div>
    </div>

    <div class="database-view hidden" id="database-view">
      <div class="buttons-area">
        <div class="excel-button" id="excel-button">
          <i class="fa fa-file-text-o"></i> Export .xlsx
        </div>
      </div>
      <table class="database-table" id="database-table">
        <tr>
            <th>serial</th>
            <th>step1</th>
            <th>step2</th>
            <th>step3</th>
            <th>step4</th>
            <th>step5</th>
            <th>step6</th>
            <th>time</th>
            <th>date</th>
            <th>result</th>
            <th>components</th>
        </tr>
      </table>
      
    </div>

    <script>
      require('./js/database-view.js');
      require('./js/serial.js');
    </script>
  </body>
</html>
